.info {
  max-width: 40%;
  padding: 20px;
  margin: 20px auto;
  border: 2px solid grey;
  border-radius: 10px;
}

.myOtherButton {
  background-color: coral;
}

/* Works globally */
h2 {
  color: blue;
}
